h4{
    font-family: "Georgia", Times New Roman, Times, serif;
    color: black
}

p{
  font-family: "Georgia", Times New Roman, Times, serif;  
  

}
.section_padding{
    padding: 10px 20px;
    
}
.footer1{
    background-color: rgb(21, 8, 8);
}
.sb_footer1{
    display: flex;
    flex-direction: column;
    
    background: aliceblue 
}
.sb_footer1-links{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    

    

    
}

a{
    color: rgb(69, 151, 234);
    text-decoration: none;
    font-size: 20px;
}

.socialmedia{
    display: flex;
    flex-direction: row;
    
    
    
    
}
.socialmedia img{
    width: 50px;
    margin-right: 10px;
    margin-top: 80%
    
}



.sb_footer1-below{
    border-top: solid rgb(69, 151, 234) 2px;
    padding-top:12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.sb_footer1-below-links{
display: flex;
flex-direction: row;

}

.sb_footer1-below-links p{
    
    line-height: 25px;
    margin-left: 32px;
    color: rgb(69, 151, 234);
    font-size: 20px;
   
   
}
 hr{
    
    width: 100%;
    margin: 0px
   
} 

.sb_footer1-copyright p{

    font-size: 20px;
    line-height: 30px;
    color: rgb(69, 151, 234);
    

}
