*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container{
  width: 100vw;
  background: #ced8ff;
  transition: 0.5s;
  height: 100px;
}
.container.dark{
  background: #222;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #4986798c;
  min-height: 96vh;
}


 #hero {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 60px;
  font-weight: bold;
  color: rgb(0, 0, 0);
  background-color: #27a1d1cb; 
  min-height: 100vh; 
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center; 
  
 } 

.col {
  text-align: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  border: 8px solid rgb(73, 68, 153);
  box-shadow: 0 20px 200px 0 rgba(156, 15, 184, 0.836);
  transition: 0.1s;
  width: 100%
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}


/* For small screens */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 60px;
  }
}

  
/* For medium screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  h1 {
    font-size: 80px;
  }
}

  /* For large screens */
@media only screen and (min-width: 1025px) {
  h1 {
    font-size: 120px;
  }
}

@keyframes type {
  from { width: 0; }
}

